*.RData
*.Rhistory
*.DS_Store
*.txt
*.pdf
*.Rproj
*.csv
.env

# generated outputs and root links
/results
/images
/logs
/queue
/data/*
/build
/tmp
/.fdapde-cpp
/fdaPDE-cpp
/cpp/ipopt.opt
/cpp/*/fit_model*
/.idea/

# exceptions
!/data/mesh/
!/data/mesh/**
.Rproj.user
